[submodule "dotrc/vim/bundle/pathogen"]
	path = dotrc/vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "dotrc/vim/bundle/tmux"]
	path = dotrc/vim/bundle/tmux
	url = https://github.com/tsaleh/vim-tmux.git
[submodule "bin"]
	path = bin
	url = git://github.com/tgoodlet/scripts.git
[submodule "dotrc/vim/bundle/surround"]
	path = dotrc/vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "dotrc/vim/bundle/supertab"]
	path = dotrc/vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
