[submodule "dotrc/vim/bundle/pathogen"]
	path = dotrc/vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "dotrc/vim/bundle/tmux"]
	path = dotrc/vim/bundle/tmux
	url = https://github.com/tsaleh/vim-tmux.git
