[submodule "dotrc/vim/bundle/pathogen"]
	path = dotrc/vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "dotrc/vim/bundle/tmux"]
	path = dotrc/vim/bundle/tmux
	url = https://github.com/tsaleh/vim-tmux.git
[submodule "bin"]
	path = bin
	url = https://github.com/tgoodlet/scripts.git
[submodule "dotrc/vim/bundle/surround"]
	path = dotrc/vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "dotrc/vim/bundle/supertab"]
	path = dotrc/vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "dotrc/vim/bundle/fugitive"]
	path = dotrc/vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "dotrc/vim/bundle/commentary"]
	path = dotrc/vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "dotrc/vim/bundle/repeat"]
	path = dotrc/vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "dotrc/vim/bundle/vim2hs"]
	path = dotrc/vim/bundle/vim2hs
	url = https://github.com/dag/vim2hs.git
[submodule "dotrc/vim/bundle/tabular"]
	path = dotrc/vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "dotrc/vim/bundle/syntastic"]
	path = dotrc/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "dotrc/vim/bundle/pydoc"]
	path = dotrc/vim/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim
[submodule "dotrc/vim/bundle/neo-ghc"]
	path = dotrc/vim/bundle/neo-ghc
	url = https://github.com/ujihisa/neco-ghc.git
[submodule "dotrc/vim/bundle/ghcmod-vim"]
	path = dotrc/vim/bundle/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim
[submodule "dotrc/vim/bundle/vimproc"]
	path = dotrc/vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc
[submodule "dotrc/vim/bundle/CCTree"]
	path = dotrc/vim/bundle/CCTree
	url = https://github.com/vim-scripts/CCTree.git
[submodule "dotrc/vim/bundle/nerdtree"]
	path = dotrc/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "dotrc/vim/bundle/linediff"]
	path = dotrc/vim/bundle/linediff
	url = git://github.com/AndrewRadev/linediff.vim.git
[submodule "dotrc/vim/bundle/vim-markdown"]
	path = dotrc/vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "dotrc/vim/bundle/vim-airline"]
	path = dotrc/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "dotrc/vim/bundle/vim-grep-operator"]
	path = dotrc/vim/bundle/vim-grep-operator
	url = git@github.com:inside/vim-grep-operator.git
[submodule "dotrc/vim/bundle/ctrlp"]
	path = dotrc/vim/bundle/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
